<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Link to your CSS file -->
</head>
<body>

    <header>
        <div class="container">
            <h1>Book Store</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="catalog-list.html">Catalog</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="about" class="container">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum voluptate quisquam non omnis a laudantium vel. Hic quod excepturi nobis ad omnis quia consequatur, inventore minima praesentium, eaque eos?</p>
        <!-- Centered Catalog button -->
        <div class="catalog-button">
            <a href="catalog-list.html" class="button">Browse Catalog</a>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>CST8276_020 - Final Group Application (Book Store Catelog with MongoDB using Microsoft Azure)</p>
        </div>
    </footer>

</body>
</html>
