<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div class="bookstore-title">Book Store</div>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <p>CST8276_020 - Group 3 -  Final Group Application (Book Store Catelog with MongoDB using Microsoft Azure)</p>
        </div>
    </footer>
</body>
</html>