<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <h1>Book Store</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Book Catalog</h2>
        <div id="books-list">
            <!-- Connect with DB -->
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Inventory Count</th>
                    <th>Action</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>${{ "%.2f"|format(book.price) }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ ", ".join(book.genre) }}</td>
                    <td>{{ book.language }}</td>
                    <td>{{ book.inventoryCount }}</td>
                    <td>Edit | Delete</td> 
                </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>CST8276_020 - Final Group Application (Book Store Catelog with MongoDB using Microsoft Azure)</p>
        </div>
    </footer>

</body>
</html>
