<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <h1>Book Store</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Book Catalog</h2>
        <div id="books-list">
            <!-- Connect with DB -->
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Inventory Count</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Book Title 1</td>
                    <td>Author 1</td>
                    <td>$19.99</td>
                    <td>Description of book 1</td>
                    <td>Fiction</td>
                    <td>English</td>
                    <td>10</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>Book Title 2</td>
                    <td>Author 2</td>
                    <td>$24.99</td>
                    <td>Description of book 2</td>
                    <td>Non-fiction</td>
                    <td>Spanish</td>
                    <td>15</td>
                    <td>Edit | Delete</td>
                </tr>
            </table>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>CST8276_020 - Final Group Application (Book Store Catelog with MongoDB using Microsoft Azure)</p>
        </div>
    </footer>

</body>
</html>
