<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Link to your CSS file -->
</head>
<body>

    <header>
        <div class="container">
            <h1>Book Store</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="welcome" class="container">
        <h2>Welcome to our Book Store!</h2>
        <p>Explore our vast collection of books from various genres. Find your next read with us!</p>
        <div class="catalog-button">
            <a href="catalog-list.html" class="button">Browse Catalog</a>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>CST8276_020 - Final Group Application (Book Store Catelog with MongoDB using Microsoft Azure)</p>
        </div>
    </footer>

</body>
</html>
